p {
    margin: 0;
}

.Card {
    background: grey;
    flex-direction: column;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.Card__img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.showBtn {
    border-style: none;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    background: darkcyan;
    color: #fff;
    font-size: .7em;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.showBtn:hover {
    background: black;
    color: orange;
}

.nologo {
    margin-top: 30px;
    height: 100px;
    width: 100px;
}

.Card__types {
    display: flex;
    justify-content: center;
}

.Card__type {
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: orange;
    color: #fff;
}

.Card__type--ability {
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: orange;
    color: #fff;
    text-align: center;
}

.Card__name {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 800;
}

.Card__info {
    margin-left: 10px;
}

.Card__data {
    padding-bottom: 10px;
}

.Card__data .title {
    font-weight: 500;
}

.Card__type__title {
    font-weight: 500;
    margin-left: 10px;
}

.Card__data--value {
    font-weight: 700;
    text-align: center;
    font-size: 1.2rem;
}