p {
    margin: 0;
}

.Card {
    background: grey;
    border-radius: 10px;
}

.Card__img {
    display: flex;
    flex-wrap: wrap;
    /* text-align: center; */
    justify-content: center;
}

.nologo {
    margin-top: 20px;
    height: 100px;
    width: 100px;
}

.Card__types {
    display: flex;
    justify-content: center;
}

.Card__type {
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: orange;
    color: #fff;
}

.Card__type--ability {
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: orange;
    color: #fff;
    text-align: center;
}

.Card__name {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 800;
}

.Card__info {
    margin-left: 10px;
}

.Card__data {
    padding-bottom: 10px;
}

.Card__data .title {
    font-weight: 500;
}

.Card__type__title {
    font-weight: 500;
    margin-left: 10px;
}

.Card__data--value {
    font-weight: 700;
    text-align: center;
    font-size: 1.2rem;
}