.Navbar {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
    background: red;
    color: white;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 500;
}

.Navbar img {
    margin: 0 10px;
    width: 100px;
    height: 100px;

}